<div ng-if="numberOfPages()>0">
    <md-grid-list md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="2" md-row-height-xs="350px" md-row-height="450">
        <md-grid-tile ng-repeat="item in data | startFrom:currentPage*pageSize | limitTo:pageSize" ng-cloak>
            <md-card md-theme="{{'default'}}" md-theme-watch>
                    <md-card-title-text>
                        <img class="issue-number list-gif" ng-src='https://media.giphy.com/media/{{item}}/giphy.gif'>
                    </md-card-title-text>
                    <md-card-title-text class="alig-but">
                        <div detail-but="{{item}}"></div>
                        <div delete-but="{{item}}"></div>
                    </md-card-title-text>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
    <div class="md-padding" layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Попередній
        </md-button>
        {{currentPage+1}}/{{numberOfPages()}}
        <md-button class="md-raised md-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Наступний
        </md-button>
    </div>
</div>

<div ng-if="numberOfPages()==0">
    <md-content class="md-padding" layout="row" layout-align="center center">
        <img ng-src="img/favotit_error.png">
    </md-content>
</div>
