/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.list-gif {
  width: 400px;
  height: 300px;
}

.md-virtual-repeat-container {
  height: calc(100vh - 48px);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.m-20 {
  margin: 20px;
}

.alig-but {
  text-align: center;
}

.alig-but div {
  display: inline-block;
}

.overflow {
  overflow: hidden;
}

@media (max-width: 599px) {
  md-nav-bar nav{
    position: absolute;
    top: 0;
    z-index: 999;
    background: rgb(250,250,250);
    width: 100%;
    left: 0;
  }

  .ng-isolate-scope nav{
    position: absolute;
    top: 0;
    z-index: 999;
    background: rgb(250,250,250);
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  }

  .md-nav-item:first-of-type {
    margin-left: 0;
  }

  .ng-isolate-scope ul,.ng-isolate-scope li{
    display: block;
    float: none;
  }

  .md-nav-bar {
    height: inherit;
  }

  md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    background: none;
  }

  .ng-isolate-scope.menu-man nav {
    opacity : 1;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
  }

  .ng-isolate-scope nav {
    opacity : 0;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
  }
  .list-gif {
    width: 100%;
    height: 200px;
  }

}