<!DOCTYPE html>
<html ng-app="myApp">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="main" ng-class="routeClassName">
<header>
  <md-button aria-label="menu" class="md-fab md-warn" ng-click="toggle = ! toggle" hide-gt-xs>
    <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
  </md-button>
  <md-nav-bar ng-click="toggle = ! toggle" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" ng-class="{'menu-man' : toggle }">
    <md-nav-item md-nav-href="#!/" name="main">
      Домівка
    </md-nav-item>
    <md-nav-item md-nav-href="#!/list" name="list">
      Популярні гіфки
    </md-nav-item>
    <md-nav-item md-nav-href="#!/favorite" name="favorite">
      Обрані гіфки
    </md-nav-item>
  </md-nav-bar>
</header>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>

  <script src="models/store.js"></script>
  <script src="models/favorite.js"></script>

  <script src="directive/saveBut.js"></script>
  <script src="directive/detailBut.js"></script>
  <script src="directive/deleteBut.js"></script>

  <script src="app.js"></script>
  <script src="mainConfig.js"></script>
  <script src="page-main/main.js"></script>
  <script src="page-list/list.js"></script>
  <script src="page-details/details.js"></script>
  <script src="page-favorite/favorite.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
