<md-content class="md-padding" layout="row" layout-align="center center">
    <img ng-src="img/greeting.png">
</md-content>

<md-content class="md-padding" layout="row" layout-align="center center">
    <h2>Форма відправлення</h2>
</md-content>

<md-content layout-padding>
    <form name="projectForm" ng-submit="">

        <div layout="row">
            <md-input-container flex="50">
                <label>Client Name</label>
                <input required name="clientName" ng-model="project.clientName">
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container flex="50">
                <label>Client Email</label>
                <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>

        </div>

        <md-input-container class="md-block">
            <textarea placeholder="Message"></textarea>
        </md-input-container>



        <div layout="row" layout-align="center center">
            <md-button class="md-raised" type="submit">Submit</md-button>
        </div>
    </form>
</md-content>