<div ng-if="favoriteCookie">
    <md-content class="md-padding" layout="row" layout-align="center center">
        <img ng-src="https://media.giphy.com/media/{{favoriteCookie}}/giphy.gif" ng-click="">
    </md-content>
    <md-content layout="row" layout-align="center center">
        <a class="md-fab md-primary m-20" ng-href="https://media.giphy.com/media/{{favoriteCookie}}/giphy.gif" internal-link download>
            <md-icon md-svg-src="/img/icons/file_download.svg"></md-icon>
        </a>
        <div save-but="{{favoriteCookie}}"></div>
    </md-content>
</div>