<md-virtual-repeat-container>
    <div ng-repeat="item in gifHtml" ng-cloak layout-sm="column">
        <md-grid-list md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="2" md-row-height-xs="350px" md-row-height="450">
            <md-grid-tile ng-repeat="item in gifHtml[$index]" ng-cloak>
                <md-card md-theme="{{'default'}}" md-theme-watch>
                    <md-card-title-text>
                    <img class="issue-number list-gif" ng-src='https://media.giphy.com/media/{{item.id}}/giphy.gif'>
                    </md-card-title-text>
                    <md-card-title-text class="alig-but">
                        <div detail-but="{{item.id}}"></div>
                        <div save-but="{{item.id}}"></div>
                    </md-card-title-text>
                </md-card>
        </md-grid-list>
    </div>
    <section class="show-delay" layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-attr-id="load-new">
        <md-button class="md-fab md-primary" aria-label="load more" ng-click="load()">
            <md-icon md-svg-src="/img/icons/more_horiz.svg"></md-icon>
        </md-button>
    </section>
</md-virtual-repeat-container>
